<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-lg-8 mb-4">
     <h1>Blogs Detail Screen </h1>
      <p>Title: <%= @blog.title %></p>
      <p>Content: <%= @blog.content %></p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
